:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  background-color: #ffffff;

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-text-size-adjust: 100%; */
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

section {
  margin-top: 3rem;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem; */
}

button {
  margin: 0.5rem;
}

label {
  margin-right: 0.5rem;
}

#counterstring-result {
  margin-top: 1rem;
}

@media (max-width: 639px) {
  #app {
    margin: 2rem;
  }
  section {
    margin-top: 5rem;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ccc;
    background-color: #1a1a1a;
  }
}
